INMETRO.CIPP.WEB/Connected Services/ControleAcesso/AutenticacaoServico2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ControleAcessoService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ControleAcessoService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PessoaFisica">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nascimento" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PessoaFisica" nillable="true" type="tns:PessoaFisica" />
  <xs:simpleType name="TipoUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Interno" />
      <xs:enumeration value="Externo" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoUsuario" nillable="true" type="tns:TipoUsuario" />
  <xs:simpleType name="FiltroObterTodosUsuariosEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todos" />
      <xs:enumeration value="Internos" />
      <xs:enumeration value="Externos" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FiltroObterTodosUsuariosEnum" nillable="true" type="tns:FiltroObterTodosUsuariosEnum" />
  <xs:complexType name="TokenInvalidoFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenInvalidoFault" nillable="true" type="tns:TokenInvalidoFault" />
  <xs:complexType name="UsuarioInexistenteFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioInexistenteFault" nillable="true" type="tns:UsuarioInexistenteFault" />
</xs:schema>