INMETRO.CIPP.WEB/Connected Services/ServiceReference1/AutenticacaoServico.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ControleAcessoService.Elemento" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ControleAcessoService.Elemento" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RetornoVerificacaoServico">
    <xs:sequence>
      <xs:element minOccurs="0" name="Consulta" type="xs:boolean" />
      <xs:element minOccurs="0" name="EHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScHash" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoVerificacaoServico" nillable="true" type="tns:RetornoVerificacaoServico" />
</xs:schema>